[Unit]
Description=Translate auditd events to syslog
After=rsyslog.service
After=auditd.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=3
User=root
ExecStart=/usr/bin/env bash /root/continuous_audit_to_syslog

[Install]
WantedBy=multi-user.target
